
:root{
  --primary-color-purple: #B366FF;
  --primary-color-yellow: #FFF066;
  --secondary-color-background: #1A0033;
  --secondary-color-button: #9933FF;
  --button: #8000FF;
  --text: #CC99FF;
}
.container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    position: relative;
    color: var(--primary-color-yellow);
}
.container img{
    width: 150px;
}
.container__control{
    margin: 0;
}
.help{
    font-weight: bolder;
    font-size: 3rem;
    text-shadow: 3px 5px 10px var(--primary-color-purple);
}
h2.help{
    font-size: 2.5rem;
}
.card-values{
    background-color: inherit;
    gap: 2rem;
}
.col{
    background-color: var(--secondary-color-background);
    
}

.display-card{
    height: 220px;
    min-height: 150px;
    box-shadow: 5px 5px 10px var(--primary-color-yellow);
    display: flex;
    align-items: center;
    justify-content: center;
}
.display-card .col {
    padding: 0;
}
.card-body{
    height: fit-content;
    width: 100%;
    background-color: var(--button);
    box-sizing: border-box;
    border: 0;
}



.rules-content{
    display: flex;
    position: relative;
    color: var(--primary-color-yellow);
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0.5rem;
}
.rules-content strong {
    font-size: 1.5rem;
}
.rules-content span {
    font-size: 1.8rem;
    color: var(--primary-color-purple)
}
.rules-content u{
    text-decoration-color: var(--primary-color-purple) ;
    -moz-text-decoration-color: var(--primary-color-purple) ;
}
.card-holder {
    position: relative;
}
.card_1{
    /*position: absolute;
    */z-index: -1;
    /*right:50%;
    */transform: rotateZ(-15deg) translate(10%,0);
    -webkit-transform: rotateZ(-15deg) t;
    -moz-transform: rotateZ(-15deg) t;
    -ms-transform: rotateZ(-15deg) t;
    -o-transform: rotateZ(-15deg) t;
}
.card_2{
    position: absolute;
    z-index: 1;
    transform: rotateZ(15deg) translate(-30%,0);
    -webkit-transform: rotateZ(15deg) translate(-30%,0);
    -moz-transform: rotateZ(15deg) translate(-30%,0);
    -ms-transform: rotateZ(15deg) translate(-30%,0);
    -o-transform: rotateZ(15deg) translate(-30%,0);
}

.card_3{
    z-index: -1;
    right:50%;
    transform: rotateZ(-15deg) translate(-50%,0);
    -webkit-transform: rotateZ(-15deg) translate(-50%,0);
    -moz-transform: rotateZ(-15deg) translate(-50%,0);
    -ms-transform: rotateZ(-15deg) translate(-50%,0);
    -o-transform: rotateZ(-15deg) translate(-50%,0);
}
.card_4{
    position: absolute;
    z-index: 1;
    transform: rotateZ(15deg) translate(-80%,20%);
    -webkit-transform: rotateZ(15deg) translate(-80%,20%);
    -moz-transform: rotateZ(15deg) translate(-80%,20%);
    -ms-transform: rotateZ(15deg) translate(-80%,20%);
    -o-transform: rotateZ(15deg) translate(-80%,20%);
}
.custom-btn{
    padding: 0.5rem 0.5rem;
    margin: 1rem;
    font-size: 1.5rem;
    font-weight: bolder;
    border-radius: 10px;
    background-color: var(--button);
    color: var(--primary-color-yellow);
    box-shadow: 0 10px 20px var(--text);
    text-shadow: 2px 2px 5px var(--primary-color-purple);
    transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.custom-btn:hover{
    cursor: pointer;
    background-color: var(--primary-color-purple);
    color: #fff06c;
    transform: translateY(-15px) ;
    letter-spacing: 2px;
    -webkit-transform: translateY(-15px) ;
    -moz-transform: translateY(-15px) ;
    -ms-transform: translateY(-15px) ;
    -o-transform: translateY(-15px) ;
    transition: all  1s ease-out;
  }

.back-to-menu{
    position: absolute;
    bottom: 0;
    transform: translate(0%, 150%);
    /*width: 50%;
    */z-index: 999;
    -webkit-transform: translate(0%, 150%);
    -moz-transform: translate(0%, 150%);
    -ms-transform: translate(0%, 150%);
    -o-transform: translate(0%, 150%);
}

@media screen and (max-width: 992px) {
    .card-holder:nth-child(1){
        margin-bottom: 2rem;
    }
    .card-holder:nth-child(2){
        margin-top: 1rem;
    }
    .rules-content:nth-child(1){
        display: flex;
        flex-direction: column-reverse;
    }
}