:root{
  --primary-color-purple: #B366FF;
  --primary-color-yellow: #FFF066;
  --secondary-color-background: #1A0033;
  --secondary-color-button: #9933FF;
  --button: hsl(270, 100%, 50%);
  --text: #CC99FF;
}
.game{
    /* position: relative; */
    color: var(--primary-color-yellow);
    height: 100vh;
    z-index: -1;
    transition: all 1s ease-in;
    -webkit-transition: all 1s ease-in;
    -moz-transition: all 1s ease-in;
    -ms-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
}
.hand{
  text-shadow: 2px 2px 5px var(--primary-color-purple);
}
.card-holder{
  gap: 2rem;
}
.budget{
  color: var(--primary-color-yellow);
  font-size: 2.5rem;
  font-weight: bolder;
  text-shadow: 2px 2px 5px var(--primary-color-purple);
}
.board-control{
  margin: 3rem;
}
.board-control .hand{
  margin-bottom: 1.5rem;
}
.custom-btn{
    padding: 0.5rem 0.5rem;
    margin: 1rem;
    font-size: 1.5rem;
    font-weight: bolder;
    border-radius: 10px;
    background-color: var(--button);
    color: var(--primary-color-yellow);
    box-shadow: 0 10px 20px var(--text);
    text-shadow: 2px 2px 5px var(--primary-color-purple);
    transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.custom-btn:hover{
    cursor: pointer;
    background-color: var(--primary-color-purple);
    color: #fff06c;
    transform: translateY(-15px) ;
    letter-spacing: 2px;
    -webkit-transform: translateY(-15px) ;
    -moz-transform: translateY(-15px) ;
    -ms-transform: translateY(-15px) ;
    -o-transform: translateY(-15px) ;
    transition: all  1s ease-out;
  }
  .back-to-menu{

      /* position: absolute; */
      bottom: 0;
      /* right: 50%; */
      /* width: 100%; */
  }
/* XR phone */
  @media screen and (max-width: 414px) {
    .budget{
      font-size: 1.5rem;
    }
    .custom-btn{
      font-size: 1rem;
    }
    .hand{
      font-size: 1rem;
    }
    .card-holder{
      gap: 0.5rem;
    }
  }